<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>test</h1>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <form action="{% url 'form' %}" method="POST">
        {% csrf_token %}
        <ul>
          <li>количество{{ form.quantity }}</li>
          <li>товара{{ form.product }}</li>

        </ul>
        <input type="submit" value="Submit" >
    </form>
</body>
</html>